Repository KrisDemoMotel/Monorepo-Demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-setup=false, run-a, run-b, run-all

.circleci/config.yml:

version: 2.1

setup: << pipeline.parameters.run-setup >>

orbs:
  continuation: circleci/continuation@0.2.0
  path-filtering: circleci/path-filtering@0.0.2

parameters:
  run-setup:
    type: boolean
    default: true
  run-a:
    type: boolean
    default: false
  run-b:
    type: boolean
    default: false
  run-all:
    type: boolean
    default: false

jobs:
  main:
    docker:
      - image: cimg/base:2020.01
    steps: 
      - checkout
      - run: "env"
      - continuation/continue:
          configuration_path: ./metaconfig.yml

  module-a:
    docker:
      - image: cimg/base:2020.01
    steps:
      - checkout
      - run: "echo 'Hello from module A!!'"
      - run: cat a/README.md

  module-b:
    machine: true
    steps:
      - checkout
      - run: "echo 'Hello from module B!'"
      - run: cat b/README.md

  module-b-post:
    docker:
      - image: alpine
    steps:
      - run: "echo 'Continuing module B'"
      - run: env

workflows:
  pre:
    when: << pipeline.parameters.run-setup >>
    jobs:
      - path-filtering/filter:
          # Compare files on main
          base-revision: main
          # Config for continuation; herein we reuse this config itself
          config-path: .circleci/config.yml
          # 3-column space-separated table for mapping; `path-to-test parameter-to-set value-for-parameter` for each row
          mapping: |
            .* run-setup false
            a/.* run-a true
            b/.* run-b true
            core.* run-all true

  module-a:
    when: 
      or: [ << pipeline.parameters.run-a >>, << pipeline.parameters.run-all >> ]
    jobs:
      - module-a
  module-b:
    when: 
      or: [<< pipeline.parameters.run-b >>, << pipeline.parameters.run-all >> ]
    jobs:
      - module-b
      - module-b-post:
          requires:
            - module-b

yah
  .circleci/config.yml
Due: run-setup=false

testing
  .circleci/config.yml
  a/jobs.yml
  a/workflows.yml
  b/jobs.yml
  b/workflows.yml
  configTemplate/jobs
  configTemplate/workflows
  construct-config.sh
  metaconfig.yml
Due: run-setup=false, run-a, run-b

Hey!
  metaconfig.yml
Due: run-setup=false

Changed name from meta config to generated config.
  .circleci/config.yml
  README.md
  configTemplate/default.yml
  construct-config.sh
Due: run-setup=false

Now call the right file.
  .circleci/config.yml
Due: run-setup=false

fix permissions
  construct-config.sh
Due: run-setup=false

test?
  .circleci/config.yml
Due: run-setup=false

mini fix
  .circleci/config.yml
Due: run-setup=false

test
  .circleci/config.yml
Due: run-setup=false

add back run setup parameters
  configTemplate/default.yml
Due: run-setup=false

then added the right one.
  .circleci/config.yml
  configTemplate/default.yml
Due: run-setup=false

test
  .circleci/config.yml
  construct-config.sh
Due: run-setup=false

Update README.md
  a/README.md
Due: run-setup=false, run-a

Update README.md
  b/README.md
Due: run-setup=false, run-b

Update README.md
  core/README.md
Due: run-setup=false, run-all

Update README.md
  README.md
Due: run-setup=false

Update config.yml
  .circleci/config.yml
Due: run-setup=false
